* {
    background-color:rgba(0, 0, 0, 0.8);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent red */
    text-align: center;

}

article{
    font-size: large;
    border: 2px solid white;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    flex: auto;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s; /* Smooth transition for background and text color */
}

article:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
}

section{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

output{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    font-size: 1rem;
}

nav a{
    font-size: 0.8rem;
    flex-grow: 1;
    text-align: center;
    border: 1px solid black;
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color:rgba(0, 0, 0, 0.8);
    width: 25%;
    transition: background-color 0.5s, color 0.5s; /* Smooth transition for background and text color */
}

nav a:hover{
    color : black;
    background-color: white;

}

body {
    background-image: url('../img/home.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    color: #fff;
}

body, h1 {
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

main {
    padding-bottom: 50px; /* Adjust the value as needed based on your footer's height */
    padding-top: 20px;
}